<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>

</head>
<body>

	<h2>Login</h2>
	    <form action="/login" method='post'>
	      {% csrf_token %}
	      Email <input type="email" name="email">
	      Password <input type="password" name="password">
	      <input type="submit" value="Login">
    </form>

        <div>
          <h3> Registration Form </h3> 
          <form class="" action="/register" method="post"> {% csrf_token %}
            <p> Email </p>
            <input type = 'text' placeholder = 'Email' name = 'email'>
            <p> First Name </p>
            <input type = 'text' placeholder = 'First Name' name = 'first_name'>
            <p> Last Name </p>
            <input type = 'text' placeholder = 'Last Name' name = 'last_name'>
           <p>Password:</p> 
            <input type = 'password' name = 'password'>
           <p>Confirm Password:</p> 
            <input type = 'password' name = 'confirmpassword'>
            <br>
            <input type = 'submit' value="Submit">
         </form>
       </div>
</body>
</html>